# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# VS Code & IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Models & Checkpoints
*.pkl
*.joblib
*.h5
*.keras
*.pt
models/checkpoints/
models/best_model/

# Dataset & Downloaded Media
dataset/raw/
dataset/processed/
data/videos/
data/features/
data/processed/
data/metadata/download_manifest.csv
data/metadata/features_manifest.csv
data/metadata/video_quality.csv

# Logs & Temporary Files
logs/
*.log
*.comp
*.part

# OS
.DS_Store
Thumbs.db

# MediaPipe model files
*.task