# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# VS Code & IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Models & Checkpoints
*.pkl
*.joblib
*.h5
*.keras
*.pt
!models/alphabet/best_model/best.pt
models/checkpoints/
models/alphabet/checkpoints/

# Dataset & Downloaded Media
data/raw_digits/
data/isl_alphabet_digits/
data/raw_alphabet/
data/videos/
data/features/
data/processed/
dataset/

# Logs & Temporary Files
logs/
*.log
*.comp
*.part

# OS
.DS_Store
Thumbs.db

# MediaPipe model files
*.task